.intro-wrapper {
  width: 100%;

  padding: 40px 0;
}

.intro-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-left {
  width: 55%;
}

.intro-title {
  font-size: 32px;
  font-weight: 700;
 
  margin-bottom: 20px;
}

.intro-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  
}

.intro-btn {
  margin: 10px 0 25px 0;
  background: #003a87;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.intro-btn:hover {
  opacity: 0.9;
}

.intro-icon-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.intro-icon-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}



.intro-icon-item p {
  
  font-size: 15px;
  line-height: 1.4;
}

/* RIGHT DOCTOR IMAGE */
.intro-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  
  padding: 20px;          
  border-radius: 10px;   
}


.doctor-img {
  width: 100%;
  max-width: 380px;
  object-fit: contain;
}
