.vaccine-list-wrapper {
  width: 100%;
  background: #fff;
  padding: 40px 0;
}

.vaccine-list-container {
  max-width: 1180px;
  margin: auto;
  padding: 0 20px;
}

.breadcrumb {
  font-size: 13px;
  color: #777;
  margin-bottom: 8px;
}

.breadcrumb span {
  margin: 0 6px;
}

.page-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}


.vaccine-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
}

.vaccine-item {
  display: flex;
  gap: 16px;
}

.vaccine-item img {
  width: 120px;
  height: auto;
  object-fit: contain;
  border: 1px solid #eee;
  background: #fafafa;
  padding: 6px;
}

.vaccine-info h3 {
  font-size: 15px;
  color: #000;
  margin-bottom: 6px;
}

.vaccine-info p {
  font-size: 13px;
  color: #555;
  line-height: 1.5;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.pagination span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.pagination span.active {
  background: #0a4fa3;
  color: #fff;
  border-color: #0a4fa3;
}
