
.vaccination-section {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: linear-gradient(135deg, #1e3a8a 0%, #1e40af 100%);
}


.vaccination-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px;
  color: #fff;
  text-align: center;
}


.title {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 50px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.step {
  flex: 1;
  min-width: 150px;
  position: relative;
}


.step:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 38px;
  right: -50%;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.35);
}

/* ICON */
.icon-wrapper {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper svg {
  width: 32px;
  height: 32px;
  stroke: #1e40af;
  fill: none;
  stroke-width: 2;
}


.step-title {
  font-size: 14px;
  font-weight: 600;
}



@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
    gap: 30px;
  }

  .step:not(:last-child)::after {
    display: none;
  }
}
