.child-vaccine-page {
  background: #fff;
  padding: 30px 0;
}

.container {
  max-width: 1180px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 30px;
}


.center-column .breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  gap: 6px;
  margin-bottom: 10px;
}

.breadcrumb-link {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s ease;
}


.separator {
  color: #666;
}

.breadcrumb-current {
  color: #000;
}


.center-column h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
}

.content-row {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  margin-bottom: 26px;
  text-decoration: none;
  color: inherit;
}

.row-image img {
  width: 100%;
  border-radius: 4px;
  display: block;
}

.row-text h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.row-text p {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}


.hot-news {
  background: #f6f9fc;
  padding: 14px;
}

.hot-news h2 {
  background: #1e88e5;
  color: #fff;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 14px;
}

.news-item {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
  text-decoration: none;
  color: inherit;
}

.news-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.news-text h4 {
  font-size: 12.5px;
  font-weight: 600;
  margin-bottom: 4px;
}

.news-text p {
  font-size: 11.5px;
  color: #666;
  line-height: 1.4;
}

.content-row:hover,
.news-item:hover {
  background: #f4f9ff;
  border-radius: 6px;
}
