.tiemchung-wrapper {
  padding: 40px;
  animation: fadeIn 0.6s ease;
}

.tcl-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.center-list {
  width: 100%;
}

.center-item {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.center-item:hover {
  transform: translateY(-4px);
}

.center-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.center-item p {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}
/* ---- CUSTOM ARROW ---- */
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
 width: 40px !important;
 height: 40px !important;
 background: rgba(255, 255, 255, 0.95) !important; 
 border-radius: 50% !important;
 transition: all 0.3s ease !important;
}

.mySwiper .swiper-button-prev svg,
.mySwiper .swiper-button-next svg {
   width: 18px;
height: 18px;

 stroke: #000;
 fill: none;
 stroke-width: 2; 
}
.mySwiper .swiper-button-next {
  right: 10px !important;
}

.mySwiper .swiper-button-prev {
  left: 10px !important;
}

/* Responsive: ẩn nút trên mobile */
@media (max-width: 640px) {
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    width: 32px !important;
    height: 32px !important;
  }
  
  .mySwiper .swiper-button-next::after,
  .mySwiper .swiper-button-prev::after {
    font-size: 14px !important;
  }
} 