.wrapper {
  display: flex;
  height: 100%; 
 
}

.left-panel {
  width: 350px;
  background: #fff;
  padding: 20px;
  height: auto;
  border-right: 1px solid #dcdcdc;
  position: relative;
}

.content-box h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.content-box select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.register-btn {
  background: #007bff;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.map-area {
  flex: 1;
}
.below-map {
  padding: 20px 30px;
  background: #fff;
  border-top: 1px solid #ddd;
}

.company-title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 5px;
  text-align: center;
}

.company-desc {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.system-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  color: #333;
}

