
/* Popup Search Box kiểu Shopee */
.search-popup {
  position: absolute;
  top: 55px;
  width: 400px;
  background: white;
  border-radius: 8px;
  padding: 10px;
  animation: slideDown 0.22s ease-out;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.search-inner {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 8px 12px;
  border-radius: 25px;
  gap: 10px;
}

.search-inner input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
}

.search-inner input::placeholder {
  color: #999;
}


/* Slide xuống smooth giống Shopee */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
